#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: consolas;
  background-color: #558564;
}

#calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 350px;
  height: 400px;
  border: 3px solid black;
  border-radius: 5px;
}

#calculator > * {
  padding: 10px;
  border: 1.5px solid black;
  text-align: center;
}

.row {
  grid-column: 1 / -1;
}

#display {
  text-align: right;
  background-color: #0D3B66;
  color: white;
  font-size: large;
}

#clear {
  background-color: #A26769;

}

.number, #decimal{
  background-color: #FAF0CA;
}

#equals {
  background-color: #F4D35E;
}

.operators {
  background-color: #8AA1B1;
}